In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [2]:
links = ["https://web.archive.org/web/20190524134324/https://socialblade.com/youtube/channel/UCqJNTGwKmgMCwfYDbnz514Q/monthly",
        "https://web.archive.org/web/20190524171902/https://socialblade.com/youtube/user/mmoshaya/monthly",
        "https://web.archive.org/web/20190525094206/https://socialblade.com/youtube/user/banderitax/monthly",
        "https://web.archive.org/web/20190524075036/https://socialblade.com/youtube/user/arabgamesnetwork/monthly",
        "https://web.archive.org/web/20190830014628/https://socialblade.com/youtube/channel/UCBzrJ1zGf9-0cd5-n7sBraQ/monthly"]

In [3]:
res = [requests.get(link) for link in links]

In [4]:
# save req to html file
# for i,r in enumerate(res):
#     open("req"+str(i)+".html","w",encoding="UTF-8").write(r.text)

In [5]:
data = [re.findall("[0-9]+-[0-9]+-[0-9]+,[0-9]+",r.text) for r in res]
# data = re.findall("[0-9]+-[0-9]+-[0-9]+,[0-9]+",res[0].text)

data

In [6]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,...,4429,4430,4431,4432,4433,4434,4435,4436,4437,4438
0,"2018-04-09,339","2018-04-10,442","2018-04-11,285","2018-04-12,159","2018-04-13,170","2018-04-14,158","2018-04-15,149","2018-04-17,191","2018-04-18,66","2018-04-19,1239",...,None,None,None,None,None,None,None,None,None,None
1,"2016-05-26,2568","2016-05-27,3704","2016-05-28,3400","2016-05-29,3171","2016-05-30,2636","2016-05-31,3538","2016-06-01,2645","2016-06-02,2138","2016-06-03,2919","2016-06-04,2364",...,"2018-07-1,274750963","2018-08-1,279739083","2018-09-1,271529995","2018-10-1,282858167","2018-11-1,256306609","2018-12-1,269835796","2019-01-1,301547172","2019-02-1,243406741","2019-03-1,288955385","2019-04-1,256322959"
2,"2016-05-27,2","2016-05-28,4","2016-05-29,3","2016-05-30,3","2016-05-31,30","2016-06-01,1","2016-06-02,9","2016-06-03,10","2016-06-04,12","2016-06-05,5",...,"2018-12-1,35068975","2019-01-1,48560510","2019-02-1,40188801","2019-03-1,46266672","2019-04-1,50285331",None,None,None,None,None
3,"2016-05-26,1167","2016-05-27,3491","2016-05-28,3877","2016-05-29,2562","2016-05-30,2092","2016-05-31,1794","2016-06-01,1973","2016-06-02,1289","2016-06-03,1141","2016-06-04,987",...,"2018-07-1,41178723","2018-08-1,50373064","2018-09-1,40887734","2018-10-1,33538296","2018-11-1,44601336","2018-12-1,64190140","2019-01-1,71906739","2019-02-1,66263559","2019-03-1,92191927","2019-04-1,86467595"
4,"2016-08-31,781","2016-09-01,187","2016-09-02,789","2016-09-03,338","2016-09-04,547","2016-09-05,980","2016-09-06,322","2016-09-07,2414","2016-09-08,1579","2016-09-09,4305",...,None,None,None,None,None,None,None,None,None,None

## needs to check it

In [7]:
with open('req0.html') as page:
    html = page.read()
soup = BeautifulSoup(html, 'lxml')

In [8]:
#print(soup.prettify())

In [9]:
# up_string = soup.find_all(text=re.compile('Up'))
# up_string

In [10]:
# rows = [row for row in soup.find_all("span",class_="YouTubeUserTopLight")]
# rows

In [11]:
# soup.find_all("span",class_="YouTubeUserTopLight")[0].text

In [12]:
# rows = [row for row in soup.find_all("span",style="font-weight: bold;")] 
# rows[0:6]

In [13]:
list_columns=[]
for i in soup.find_all("span",class_="YouTubeUserTopLight"):
        list_columns.append(i.get_text())
print(list_columns)

['Uploads', 'Subscribers', 'Video Views', 'Country', 'Channel Type ', 'User Created']

In [14]:
list_req0=[]
for i in soup.find_all("span",style="font-weight: bold;"):
        list_req0.append(i.get_text())
print(list_req0)

['68', '1,487,168', '137,034,617', 'SA', '', 'Dec 1st, 2017']